body{

margin:0;
height:130vh;

display:flex;
justify-content:center;
align-items:center;

background-image: url("./домик.jpg");

font-family:sans-serif;
color:rgb(232, 232, 232);

}


.card{

width:380px;

background:#1c1c1c;

padding: 40px;

border-radius:50px;

text-align:center;

box-shadow:0 20px 50px rgba(0,0,0,0.7);

animation:fade 1.2s ease;

}


@keyframes fade{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0);
}

}


.avatar{

width:140px;
height:140px;

border-radius:50%;

object-fit:cover;

margin-bottom:20px;

border:3px solid #d4af37;

}


h2{

color:#d4af37;

}


.buttons{

display:flex;
gap:10px;
justify-content:center;

margin-top:15px;

}


.btn{

padding:10px 16px;

background:#d4af37;

color:rgb(0, 0, 0);

text-decoration:none;

border-radius:6px;

font-weight:bold;

transition:0.3s;

}


.btn:hover{

transform:scale(1.1);

}


.socials{

margin-top:20px;

}


.socials a{

margin:0 10px;

font-size:22px;

color:white;

transition:0.3s;

}


.socials a:hover{

color:#d4af37;

transform:scale(1.2);

}


.showing-btn{

margin-top:25px;

padding:12px 25px;

background:#d4af37;

border:none;

font-size:16px;

border-radius:8px;

cursor:pointer;

}


.map{

margin-top:30px;

}


.map iframe{

width:70%;

height:200px;

border:none;

border-radius:10px;

}


.qr{

margin-top:20px;

}


.qr img{

width:120px;

}